*.pyc
__pycache__
test.*
killme*
*~
*.swp
*.swo
*.htpasswd
*.gzip
*.zip
*.tar
.htaccess
htaccess
.htpasswd
htpasswd
.DS_Store


TouchOSC/crs1_hold.touchosc

conductor/errors.log

conductor/profile.out
